*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'popping', sans-serif;
    background: url(../sim.png);
    background-size: cover;

}

header {
    background: linear-gradient(135deg, #6C63FF, #48C6EF);
      color: white;
      text-align: center;
      padding: 2rem 1rem;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.container {
    background: #1398b9;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
}

.container h1 {
    text-align: center;
    padding: 10px;
    color: rgb(29, 138, 7);
} 

.links a {
    padding: 10px;
    display: block;
    text-decoration: none;
    font-size: 22px;
    color: blue;
}

.links a:hover {
    text-decoration: underline;
    color: purple;
}
.container p {
    color: white;
}
.container h2 {
    color: aqua;
}
.container h3 {
    color: aqua;
}
.container li {
    color: #ffffff;
}