body {
    background: url('../fundo-2.jpg') no-repeat;
    background-size: cover;    
}

#container {
    background: #d4d2d2;
    /* Largura da tela*/
    max-width: 400px;
    /* Centralizar */
    margin: 0 auto;
    border-radius: 15px;
    /* Espaçamento dentro do elemento */
    padding: 15px;
    text-align: center;
}

#container h1 {
    color: rgb(173, 65, 65);
    /* Espaçamento dentro do elemento */
    padding: 15px;
    /* Tamanho de texto */
    font-size: 30px;
}

#tarefa {
    border: 2px solid #464444;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    color: red;
}

#tarefa::placeholder {
    color: rgb(58, 56, 56);
}

.btnAdicionar {
    background: rgb(80, 139, 167);
    padding: 7px;
    border: 0;
    border-radius: 8px;
    }