body {
    background: rgb(126, 124, 121);
}

#container{
    background: white;
    max-width: 400px
    margin: 0 auto;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}

#container h1 {
    color: purple
    /*Espaçamento dentro do elemento*/
    paddind: 15 px;
    /*Tamanho do texto*/
    font-size: 30px;
}